<table id="reviews">
<tr>
<th>Reviewer</th>
<th>Comment</th>
<th>Rating</th>
</tr>
<tr ng-repeat="review in reviews">
<td>{{review.reviewer}}</td>
<td>{{review.comment}}</td>
<td>{{review.rating}}</td>
</tr>



</table>


