Search: <input ng-model="query">
<table>
<tr>
	<th>Review</th><th>brand</th><th>name</th><th>country</th>
</tr>
<tr ng-repeat="coffee in coffees | filter:query | orderBy:orderProp">
	<td><a href="#/coffees/{{coffee.id}}">Reviews</a></td>
	<td>{{coffee.brand}}</td>
	<td>{{coffee.name}}</td>
	<td>{{coffee.country}}</td>
</tr>
</table>
